:root {
    --dark-bg: #151724;
    --dark: #1c1d32;
    --orange: #f9896b;
    --orange-1: #fa6b18;
    --pink: #f94166;
    --blue: #353fde;
    --black: #101011;
    --gray: #83848a;
    --light-gray: #d0d4df;
    --blue-2: #73c2e0;
    --blue-3: #0890fe;
    --teal: #52d3b9;
    --white: #f5f8f7;
    --red: #eb1e1ed8;
    --green: #67dd4f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* overflow: hidden; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* side menu */

.container {
    position: relative;
    width: 100%;
}



.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: var(--dark-bg);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 50px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation li {
    position: relative;
    padding: 15px;
    width: 100%;
}

.navigation li:hover {
    background-color: var(--blue-3);
}

.navigation li:nth-child(1):hover {
    background-color: transparent;
}

.icon {
    padding-right: 20px;
}

.navigation a {
    position: relative;
    display: block;
    color: var(--light-gray);
    width: 100%;
    display: flex;
    white-space: nowrap;

}

.icon i {
    font-size: 20px;
}

/*  */

.main {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background-color: var(--light-gray);
    transition: 0.4s;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
}

.topbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 10px 60px var(--gray);
}

.toggle i {
    color: var(--black);
    font-size: 30px;
}

.main.active {
    width: calc(100% - 50px);
    left: 50px;

}


/*  */
.search {
    position: relative;
}

.search input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 2px solid var(--black);
    outline: none;
    padding-left: 35px;
}

.search i {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.card-box {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    position: relative;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.icon-box {
    font-size: 2.2em;
    color: var(--blue-2);
}

.numbers {
    position: relative;
    font-weight: 700;
}

/*  */

.details {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-header a {
    padding: 8px 16px;
    background-color: var(--blue-2);
    color: var(--white);
    border-radius: 10px;
}

.card-header h4 {
    font-size: 60px;
}

.recent-orders,
.recent-customers {
    position: relative;
    background-color: var(--white);
    padding: 20px;
    overflow: auto;
}

.recent-orders table {
    width: 100%;
    border-collapse: collapse;
}

.table {
    overflow-x: scroll;
}


.table-header td {
    padding: 5px 0;
    border: 1px solid var(--light-gray);
    border-width: 1px 0 1px 0;
}


.table-row:hover {
    background-color: var(--blue-3);

}

.table-row td {
    padding: 9px 5px;
}

.table-row td:last-child {
    text-align: end;
}



.table-row td:nth-child(2) {
    text-align: end;
    padding-right: 10px;
}

.table-header {
    font-weight: bold;
}


/* status */
.status {
    white-space: nowrap;
    padding: 4px 5px;
    border-radius: 5px;
    color: var(--white);
}

.pending {
    background-color: var(--orange);
}

.progress {
    background-color: var(--green);
}

.return {
    background-color: var(--red);
}

.delivered {
    background-color: var(--blue-2);
}

/*  */
.image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.row-customer td {
    padding: 7px 0;
}

.row-customer span {
    font-weight: lighter;
}


.recent-customers table {
    width: 100%;
}

.recent-customers table td {
    display: flex;
    align-items: center;
}

.row-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-icons i {
    padding: 0 8px;
    font-size: 20px;
    color: var(--blue-3);
}

/*  */

@media (max-width:992px) {

    .navigation {
        left: -250px;
    }

    .navigation.active {
        left: 0;
        width: 250px;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        width: calc(100%-250px);
        left: 250px;
    }

    .card-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media(max-width:480px) {
    .card-box {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 
    .recent-orders {
        overflow: hidden;
    }

    .table {
        width: 600px;
        overflow-x: hidden;
    } */


    .navigation {
        z-index: 1000;
        width: 100%;
        left: -100%;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle.active {
        position: fixed;
        z-index: 1000;
        right: 0;
        top: initial;
    }

    .toggle.active i {
        color: var(--white);
    }

    .main,
    .main.active {
        width: 100%;
        left: 0;
    }

}